@import "../../_globalColor";

.skills-main-div {
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: flex-start;
  padding: 48px 24px;
  background-color: #171c28;
}

.skills-text-div {
  margin-left: 0;
  max-width: 600px;
  width: 100%;
  background: #171c28;
  padding: 40px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
  background-color: #171c28;
}

.skills-image-div > img {
  max-width: 100%;
  height: auto;
}

.skills-heading {
  font-size: 70px;
  font-weight: 700;
  letter-spacing: -1px;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}
.subTitle {
  color: #4a4e69;
  font-size: 25px;
  margin-bottom: 24px;
  text-align: center;
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
    color: #fff;
  }
}
@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
    color: #fff;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column;
    padding: 24px 8px;
    background-color: #171c28;
  }
  .skills-text-div {
    margin: 0;
    padding: 24px 8px;
  }
  .skills-text {
    font-size: 40px;
    padding: 12px 12px;
  }
  .skills-text-subtitle {
    font-size: 40px;
    text-align: center;
  }
}